*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /*font-size: 62.5%; /* Browser defualt is 16px divided by 10px. which is what we want */
    /* 1rem = 10px */
    font-size: 100%;
}

body{
    font-family: Atlas Grotesk Web,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    line-height: 1.2em;
    letter-spacing: -.042rem;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    color: #03f;
    border-color: #03f;
}

a{
  text-decoration: none;
}

.cover{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 40rem;
  height: 100vh;
  transition: margin .45s,height .45s,-webkit-transform .45s;
  transition: transform .45s,margin .45s,height .45s;
  transition: transform .45s,margin .45s,height .45s,-webkit-transform .45s;
}

.cover.slided{
  -webkit-transform: translateX(calc(-100% + 61px));
  transform: translateX(calc(-100% + 61px));
  cursor: pointer;
}

.cover.slided:hover{
-webkit-transform: translateX(calc(-100% + 72px));
    transform: translateX(calc(-100% + 72px));
}

.cover .block--top{
  background-color: #03f;
  color: #ddd;
  height: 24.5rem;
}

.cover.slided .block--top{
  height: 0;
}

.cover .block{
  transition: all .45s;
}

.cover .block h1{
  font-size: 8rem;
  line-height: .975em;
  letter-spacing: -.075em;
  text-transform: uppercase;
  padding: .05em .05em .1em;
}

.cover .block--bottom{
  background-color: #474d3a;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}

.container {
  padding: 4.6725rem 7.4rem 0 calc(60px + 7.4rem);
}