*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /*font-size: 62.5%; /* Browser defualt is 16px divided by 10px. which is what we want */
    /* 1rem = 10px */
    font-size: 100%;
}

body{
    font-family: Atlas Grotesk Web,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    line-height: 1.2em;
    letter-spacing: -.042rem;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    color: #03f;
    border-color: #03f;
}

.cover{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 40rem;
  height: 100vh;
  transition: margin .45s,height .45s,-webkit-transform .45s;
  transition: transform .45s,margin .45s,height .45s;
  transition: transform .45s,margin .45s,height .45s,-webkit-transform .45s;
}

.cover.slided{
  -webkit-transform: translateX(calc(-100% + 61px));
  transform: translateX(calc(-100% + 61px));
  cursor: pointer;
}